$yellow: rgba(255, 186, 73, 1);
$green: rgba(68, 187, 164, 1);
$turquoise: rgba(63, 136, 197, 1); 
$cyan: rgba(64, 188, 216, 1);
$blue: rgba(58, 92, 131, 1); 
$purple: rgba(182, 62, 196, 1);
$orange: rgba(233, 79, 55, 1);
$red: rgba(215, 38, 61, 1);

$light: rgba(253, 253, 255, 1);
$dark: rgba(57, 62, 65, 1);

$theme: $light;
