@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Questrial&display=swap');

$font-body: "Questrial", sans-serif;
$font-header: "Fira Sans Extra Condensed", sans-serif;

$body-line-height: 1.6;
$header-line-height: 1.2;

// Setting the font for purecss requires this trick
html, button, input, select, textarea, .pure-g {
    font-family: $font-body !important;
}

body {
  font-family: $font-body;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4, h5, h6 {
    font-size: 22px;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: $header-line-height;
    font-family: $font-header;
  }

}