$color1: rgba(246, 247, 235, 1);
$color2: rgba(233, 79, 55, 1);
$color3: rgba(57, 62, 65, 1);
$color4: rgba(63, 136, 197, 1);
$color5: rgba(68, 187, 164, 1);

$primary: $color2;
$secondary: $color4;
$tertiary: $color5;
$dark: $color3;
$light: $color1